.navbar{
    width: 99vw;
    height: 10vh;
    background-color: lightsalmon;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

ul>li{
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}